.circular-gallery {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: grab;
  }
  
  .circular-gallery:active {
    cursor: grabbing;
  }
  .circular-gallery-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    margin: 20px 0;
    letter-spacing: 2px;
  }
  