
  
  .goto-pathipagam-btn {
    background-color: #00b330; /* Blue color */
    color: white;
    border: none;
    padding: 12px 15px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 30%;
    margin-bottom: 50px;
  }
  
  .goto-pathipagam-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05);
  }
  
  .goto-pathipagam-btn:active {
    background-color: #004080; /* Even darker blue on click */
  }
  