.goto-container { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 29vh; 
  width: 100%; 
  color: white; 
  text-align: center; 
  padding: 40px; 
  background-color: #ffbcf9;
} 

.goto-title { 
  font-size: 36px; 
  font-weight: bold; 
  margin-bottom: 15px; 
}

.goto-description { 
  font-size: 20px; 
  max-width: 80%; 
  line-height: 1.8; 
  margin-bottom: 25px; 
  -webkit-text-fill-color: #333;
} 

.goto-pathipagam-btn { 
  background-color: black; 
  color: white; 
  border: none; 
  padding: 15px 30px;
  font-size: 22px; 
  font-weight: bold; 
  border-radius: 50px; 
  cursor: pointer; 
  transition: 0.3s; 
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3); 
} 

.goto-pathipagam-btn:hover { 
  background-color: black; 
  transform: scale(1.1); 
} 

.goto-pathipagam-btn:active { 
  background-color: black; 
}

/* Responsive styles */
@media (max-width: 768px) {
  .goto-container {
    height: auto; 
    padding: 20px; 
  }

  .goto-title {
    font-size: 28px; 
    left:10px;
  }

  .goto-description {
    font-size: 18px;
    max-width: 90%;
    margin-bottom: 20px;
  }

  .goto-pathipagam-btn {
    padding: 12px 2px; 
    font-size: 9px; 
  }
}

@media (max-width: 480px) {
  .goto-container {
    padding: 15px;
  }

  .goto-title {
    font-size: 20px; 

    justify-content: center !important
    
  }

  .goto-description {
    font-size: 16px;
    max-width: 95%;
    line-height: 1.6;
  }

  .goto-pathipagam-btn {
    padding: 15px 20px; 
    font-size:9px; 
  }
}
