/* Ensure the container grows and allows scrolling */
.pathipagam-event-container {
  width: 90%;
  margin: auto;
  text-align: center;
  overflow-y: auto; /* Enables vertical scrolling */
}

/* Ensures the page allows scrolling */
html, body {
  height: 100%;
  overflow-y: auto;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
  grid-gap: 20px;
  justify-content: center;
}


/* Responsive Fix */
@media (max-width: 1024px) {
  .event-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .event-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .pathipagam-event{
    margin-top: 70px;
  }
}

@media (max-width: 480px) {
  .event-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
